/BRAND_GUIDE.html
/Estudio de mercado Ciudad Juarez - Nexirium.docx.md
/ISOTIPO.svg
/LOGOTIPO.svg
/LOGOTIPOS.MD
/Nexirium_Landing_Page.html
/Perfil del proyecto Emprendízate 2026.1.docx.md
/POSITIVO_NEGATIVO.pdf